<h1>Tuple</h1>
<span>A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.</span>

<h3>Tuple creation and initialization</h3>

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
x=(31,24,49)
x

(31, 24, 49)

In [4]:
x=(3.1,2.4,4.9)
x

(3.1, 2.4, 4.9)

In [5]:
x=("nilay","ketan","nilesh","ashwin")
x

('nilay', 'ketan', 'nilesh', 'ashwin')

In [6]:
x=(1,2.3,"kljlkjl",True)
x

(1, 2.3, 'kljlkjl', True)

In [7]:
x=(1,2.3,"kljlkjl",[2,4,6,8])
x

(1, 2.3, 'kljlkjl', [2, 4, 6, 8])

In [3]:
x=(1,2.3,"kljlkjl",(8,7,6,6),[2,4,6,8])
x

(1, 2.3, 'kljlkjl', (8, 7, 6, 6), [2, 4, 6, 8])

In [9]:
x=(22,)
x

(22,)

In [10]:
type(x)

tuple

In [11]:
y=(22)#y=22
y

22

In [12]:
type(y)

int

<h3>Tuple indexing</h3>

In [13]:
x=(13,2.3,"kljlkjl")
x[1]

2.3

In [14]:
x[-1]

'kljlkjl'

In [15]:
x=(1,2.3,"kljlkjl",[2,4,6,8])
x

(1, 2.3, 'kljlkjl', [2, 4, 6, 8])

In [16]:
x[3]

[2, 4, 6, 8]

In [17]:
x[3][0]

2

In [18]:
x[0]=100
x

TypeError: 'tuple' object does not support item assignment

In [19]:
x[3][0]=22
x

(1, 2.3, 'kljlkjl', [22, 4, 6, 8])

In [20]:
x[3]

[22, 4, 6, 8]

In [21]:
x[3][1]

4

In [3]:
x=(("USA","INDIA","CANANDA","BANGLADESH"),("WDC","NEW DHELHI","TORONTO","DHAKA"))

In [4]:
x[0]

('USA', 'INDIA', 'CANANDA', 'BANGLADESH')

In [5]:
x[1]

('WDC', 'NEW DHELHI', 'TORONTO', 'DHAKA')

In [6]:
x[1][2]

'TORONTO'

In [7]:
print("capital of ",x[0][0], "is ",x[1][0])

capital of  USA is  WDC

In [8]:
x[0][0]="UNITED STATES OF AMERICA"

TypeError: 'tuple' object does not support item assignment

<h3>INDEX Slicing in tuple</h3>

In [10]:
x=(2,4,6,8,10,12,14)

In [29]:
x[3:7]

(8, 10, 12, 14)

In [30]:
x[:4]

(2, 4, 6, 8)

In [31]:
x

(2, 4, 6, 8, 10, 12, 14)

In [32]:
x[1:6]

(4, 6, 8, 10, 12)

In [33]:
x[1:6:2]

(4, 8, 12)

In [34]:
y=(1,2,3,4,5,6,7,8,9)

In [35]:
y[0:7]

(1, 2, 3, 4, 5, 6, 7)

In [36]:
y[0:7:3]

(1, 4, 7)

In [1]:
x=(1,2,[3,4])

In [2]:
x[2].append(22)

In [3]:
x.

(1, 2, [3, 4, 22])

In [4]:
x[2].insert(1,222)
x

(1, 2, [3, 222, 4, 22])

In [ ]:
#REMOVE, ...

In [9]:
len(x)

2

In [ ]:
y=(1,2,3,4,5,6,7,8,9)
y.